@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 4px 4px #ddd;
  padding: 10px 20px;

  & h1{
    font-size: 42px;
    font-weight: 700;
  }

  & a{
    border-radius: 10px;
    padding: 10px 25px;
    outline: none;
    border: 1px solid #ddd;
    color: #fff;
    background-color: rgb(72, 142, 247);
    font-size: 25px;
  }
}
.header_continue{
  margin: 0 10%;
  display: flex;
  justify-content: flex-start;
  box-shadow: 4px 4px 4px 4px #ddd;
  padding: 10px 20px;

  & h1{
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
  }

  & a{
    border-radius: 10px;
    padding: 10px 25px;
    outline: none;
    border: 1px solid #ddd;
    color: #fff;
    background-color: rgb(72, 142, 247);
    font-size: 25px;
  }
}

.box-shadow-local{
  box-shadow: 4px 4px 4px 4px #ddd;
}


.destaque{
  background-color: brown;
  color: white;
}

.margin-local{margin: 2% 0;}

.borg{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 1.5rem;
  box-shadow: 4px 4px 4px 4px #ddd;
  margin: 2% 0;
}

.grid{
  display: flex;
  flex-direction: column;
}
.gridLinhasTitulos{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 0px 0px 20px;
  background-color: rgb(49, 46, 129);
}
.gridLinhasTitulos div{
  width: 20%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;

  &:nth-child(6){
    width: 5%;
  }
}

.gridLinhasDados{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 20px;
}
.gridLinha{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gridLinha div{
  width: 20%;
  padding: 5px 0;

  &:nth-child(6){
    width: 5%;

    & svg:hover{
      cursor: pointer;
      height: 30px;
      width: 30px;

      & path{
        fill: #f00;
      }
    }
  }
}

@media screen and (max-width:600px) {
  
  .gridLinhasTitulos div{
    width: 45%;
    &:nth-child(2),&:nth-child(3),
    &:nth-child(5){
      display: none;
    }
    &:nth-child(6){
      width: 3%;
    }
  }
  .gridLinha div{
    width: 45%;
    &:nth-child(2),&:nth-child(3),
    &:nth-child(5){
      display: none;
    }
    &:nth-child(6){
      width: 3%;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
